/* Cabeçalho */
.caixa-menuprincipal {
    border-radius: 20px;
}

.caixa-menuprincipal ul {
    list-style-type: none;
    margin-right: 55px;
  }
  
  .caixa-menuprincipal ul li {
    display: inline-block;
    padding: 15px;
  }
  
  .caixa-menuprincipal ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

.logo {
  width: 4%;
}

.logows {
    width: 50px;
}

@media (max-width: 600px) {
  .imagem {
    width: 50%;
    margin: 10px; 
  }
  }

.perfil{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 850px;
  margin: 0 auto;
}
 
#capa{
  width: 830px;
  height: 150px;
  position: relative;
  top: 0;
}

#fotoperf{
  width: 130px;
  height: 110px;
  border-radius: 80%;
  bottom: 30px;
  position: relative;
  left: 10px;

}

.perfil h3{
  padding-left: 20px;
  padding-top: 5px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.perfil a{
  text-decoration: none;
  background-color: #61aff8;
  color: black;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  left: 560px;
  top: 10px;
}

.phone-input {
  display: flex;
}

#ddd{
  width: 50px;
}

.phone-input input {
  margin-right: 5px;
  width: 50px;
}

.editar-dados #des, #em{
  padding-top: 10px;
}

.editar-dados p{
  padding: 0;
  font-size: 13px;
  font-weight: bold;
}
.editar-dados{
    position: relative;
    top: 30px;
    padding-bottom: 50px;
}

.editar-dados input[type="text"],
.editar-dados textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 0;
}

/* Rodapé */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: ;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media (max-width: 800px) {
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}
@media (max-width:600px) {
  .footer-col{
      width: 100%;
  }
}